<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to abstracao_cognicao_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>

<div id="container">
	<section class="container-artigos">
		<div class="moldura">
			
			<% @analogias_verbais.perguntas.each do |pergunta| %>
			
				<article id=<%= pergunta.id%>>
					
					<header class="lilas">
						<h2><%= @analogias_verbais.nome_atividade %></h2>
					</header>
					
					<div class="conteudo-perguntas">
						
						<div id="container-perguntas">
							<p><%= pergunta.descricao %></p>
						</div>
						
						<div id="container-alternativas">
							<%if pergunta.alternativas.length > 1 %>
							
								<ul>
									<% pergunta.alternativas.each do |alternativa| %>
									
										<li>
											<input name="alternativa" type="radio" value=<%=alternativa.letra%> />
											<label>
												<span class="letra-alternativa"><%= alternativa.letra %></span>-<span class="alternativa"><%= alternativa.descricao %></span>
											</label>
										</li>

									<% end %>
								</ul>

							<% else %>
							
							
								<% pergunta.alternativas.each do |alternativa| %>
									
									<p class="descricao-adicional"><%= alternativa.descricao %></p>
									
									<div id="resposta-aberta">
										<label>Resposta</label>
										<input id="resposta-pergunta" type="text" spellcheck="true" required="true" />
									</div>
							
								

								<% end %>
							
									
							<% end %>
						</div>
						
						<div id="container-respostas">
							<ul>
								<li><span>Resposta:</span><span><%= pergunta.comentario_resposta %></span></li>
							</ul>
						</div>

					</div>
					<footer id="rodape-perguntas">
						<ul>
							<li><a id="botao-responder-pergunta" href="#" class="botao botao-azul">Responder</a></li>
							<li><a id="botao-avancar-pergunta" href=<%= ('#' + (pergunta.id + 1).to_s)%> class="botao botao-azul">Avançar</a></li>
						</ul>
					</footer>
				</article>

			<% end %>

			<article id="fim-verbal">
				<header class="lilas">
					<h2>Exemplo</h2>
				</header>
				<div class="conteudo-perguntas">
					<%= @analogias_verbais.perguntas %>
				</div>
				<footer>
				
				</footer>
			</article>
		</div>
	</section>
</div>
