<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to teclado_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>
<div id="container">
	<section class="container-artigos">
		<div id="moldura">
			<article id="1">
					
					<header class="verde">
						<h2>Exercício Teclado</h2>
					</header>
					
					
					<%= form_tag("verificar_codigo", :method => "get") do %>
						<%= show_simple_captcha(:label => "Digite o Código da Imagem") %>
						<%= submit_tag "Confirmar", :class => 'botao botao-azul' %>
						
						<label>Acertos: </label>
						<input name="acertos" type="text" value="<%= params[:acertos]%>" readonly="reeadonly" />
						
						<label>Erros: </label>
						<input name="erros" type="text" value="<%= params[:erros]%>" readonly="reeadonly" />
						
						
					<% end %>

					<footer id="rodape-perguntas">
						<ul>
							<li>
								<%= link_to "Responder", teclado_verificar_codigo_path, :id => "verificar-codigo", :class =>"botao botao-azul" %>
							</li>
						</ul>
					</footer>
				</article>
		</div>
	</section>
</div>
