<header id="cabecalho">
	<div id="logo-pequeno">
		<%= link_to teclado_index_path do %>
			<h1>INFOINT</h1>
		<% end %>
	</div>
</header>
<div id="container">
	<section class="container-artigos">
		<div id="moldura">
			<article id="1">
					
					<header class="verde">
						<h2>Exercício Teclado</h2>
					</header>
					
					
					<%= form_tag("verificar_codigo", :id => "formulario-captcha", :method => "get") do %>
					
						<fieldset>
							<legend>Captcha</legend>
							<%= show_simple_captcha(:label => "Digite o Código da Imagem") %>	
							<%= submit_tag "Confirmar", :class => 'botao botao-azul', :id => "botao-confirmar-captcha" %>
						</fieldset>
					
						<fieldset>
							<legend>Estatísticas</legend>
							
							<label>Acertos: </label>
							<input name="acertos" type="text" value="<%=session[:acertos] %>" readonly="reeadonly" />
							
							
						
							<label>Erros: </label>
							<input name="erros" type="text" value="<%=session[:erros]%>" readonly="reeadonly" />
							
						</fieldset>
						
					<% end %>

					<footer id="rodape-perguntas">
						<ul>
							<li>
								<%= link_to "Sair", teclado_index_path, :id => "sair-exercitar-teclado", :class =>"botao botao-azul", :value => " " %>
							</li>
							<li> </li>
						</ul>
					</footer>
				</article>
		</div>
	</section>
</div>
