<div id="container-descricao-teclado">
	<div id="painel-descricao-teclado">
		<aside>
			
		</aside>
		<article>
			<header>
				<h3><%= @tecla.nome %></h3>
			</header>
			<p></p>
		</article>
	</div>
</div>

<div id="container-teclado">
	
	<div id="teclado">
		
		<div id="categoria-teclas-funcao">
			<ul>
				<% @teclado.teclas.each do |tecla| %>
					<% if tecla.categoria_tecla.id == 1 %>
					
						<li>
							<% if tecla.id != 14 && tecla.id != 15 && tecla.id != 16 then %>
								
								<%= link_to teclado_visualizar_tecla_path(tecla.id), :class => "tecla tecla-de-funcao" do %>
									<%=content_tag(:span, tecla.nome, :id => tecla.id) %>
								<%end%>
								
								<!--
								<a href="#" class="tecla tecla-de-funcao">
									<%=content_tag(:span, tecla.nome) %>
								</a>-->
							
							<%else%>
								<a href="#" class="tecla">
									<%=content_tag(:span, tecla.nome) %>
								</a>
							<%end%>	
						</li>

					<%end%>
				<%end%>
			</ul>
		</div>
		<div id="categoria-teclas-digitacao">
			
		</div>
		
		<div id="categoria-teclas-navegacao">
			
		</div>
		
		<div id="categoria-teclas-numericas">
			
		</div>
			
	</div>
</div>
